.publications {
  ol.bibliography {
    list-style-type: decimal !important;
    padding-left: 3rem !important;

    li {
      padding-left: 0.5rem;
    }
  }

  /* Space between publications */
  .publication-entry {
    margin-bottom: 2.5rem;
  }

  /* Remove extra space after the final publication */
  .publication-entry:last-child {
    margin-bottom: 0;
  }

  /* Your name */
  .author strong {
    font-weight: 700;
  }

  /* Journal name */
  .periodical em {
    font-style: italic;
  }
}